BODY {
	SCROLLBAR-FACE-COLOR: #e0e5ef; FONT-SIZE: 8pt; SCROLLBAR-HIGHLIGHT-COLOR: #6587b9; SCROLLBAR-SHADOW-COLOR: #cdcdcd; SCROLLBAR-3DLIGHT-COLOR: #cdcdcd; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #f0f0f0; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
TD {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
H4 {
	COLOR: #112255
}
H5 {
	COLOR: #112255
}
.main {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
A:link {
	COLOR: #224488; TEXT-DECORATION: none
}
A:hover {
	COLOR: #aa0000
}
A:visited {
	TEXT-DECORATION: none
}
.dh {
	FONT-SIZE: 12pt
}
HR {
	COLOR: #6587b9; HEIGHT: 1px
}
.frm {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #f0f9ff
}
.frm {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial
}
SMALL {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial
}
UL {
	PADDING-RIGHT: 1px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; MARGIN: 1px 1px 1px 10px; PADDING-TOP: 1px
}
LI {
	LIST-STYLE-POSITION: inside; MARGIN: 1px 1px 1px 10px
}
.frow {
	BACKGROUND-COLOR: #a0d5ff
}
.btab {
	COLOR: #112255
}
.inp {
	BORDER-LEFT-COLOR: #f0f5ff; BORDER-BOTTOM-COLOR: #f0f5ff; COLOR: #112255; BORDER-TOP-STYLE: groove; BORDER-TOP-COLOR: #f0f5ff; BORDER-RIGHT-STYLE: groove; BORDER-LEFT-STYLE: groove; BORDER-RIGHT-COLOR: #f0f5ff; BORDER-BOTTOM-STYLE: groove
}
SELECT {
	BORDER-LEFT-COLOR: #f0f5ff; BORDER-BOTTOM-COLOR: #f0f5ff; COLOR: #112255; BORDER-TOP-STYLE: groove; BORDER-TOP-COLOR: #f0f5ff; BORDER-RIGHT-STYLE: groove; BORDER-LEFT-STYLE: groove; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #f0f5ff; BORDER-BOTTOM-STYLE: groove
}
.st0 {
	BACKGROUND-COLOR: #e0e5ef
}
.st1 {
	BACKGROUND-COLOR: #f3f8ff
}
.tb {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #000000; BORDER-RIGHT-WIDTH: 0px
}
